.mainbar{
  width: 100%;  
  background-color: #B0FFE7;

  }

body{
  background-color: #E6FFE3;
  font-family: 'Agency FB Bold', arial;

    border-left-width: 0px;

}


#mainbar_name {
  color: black;
}

#SignInButton {

margin-left: 700px;;
}

#mainbar_name {

}
#mainbar_hr{
 border-top: 5px dotted grey;
  width: 100%;
  height: 5px;
}

#undertop{

  background-color:#000000;
  height:5px; width:100%;
}

#logobar{
  position: absolute;
  width: 352px;
  height: 211px;
  right: 900px;
  top: 36px;
}

#logo{
  width: 225px;
}

#SignIn_Button {


}

.button_main {
  margin:0.5em;
  background-color:#14847D;
  border:0;
  padding:1em 2em;
  border-radius:2em;
  color:white;
  white-space:pre;
  cursor:pointer;
  transition-duration: 0.1s;
}

.button_main:hover{background-color:#24948D}

.button_main:hover:active{transform:scale(0.975)}

button:hover{
  background-
}